.navcontainer {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccd5ae;
  padding: 0 10px;
  height: 50px;
  z-index: 999;
  top: 0;
}

.nav__ul {
  list-style: none;
  display: flex;
}

.nav__ul > li > a {
  text-decoration: none;
  color: white;
}

.nav__ul > li > a:hover {
  text-decoration: underline;
}

.nav__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 2vw;
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav__logo__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__ul > * {
  margin-right: 20px;
  color: white;
}

.nav__button {
  background-color: #d4a373;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 140px;
  color: white;
  filter: drop-shadow(0 2px 3px gray);
  cursor: pointer;
  transition: 0.8s;
}

.nav__button:hover {
  filter: drop-shadow(0 2px 3px gray) brightness(1.05);
}

.hamburger {
  display: none;
  width: 50px;
  height: 50px;
  margin-top: 26px;
  cursor: pointer;
}

.hamburger > * {
  background-color: black;
  width: 25px;
  height: 2px;
  margin-bottom: 8px;
}

.hamburgerMenu {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: none;
  align-items: center;
  flex-direction: column;
  top: 0;
}

.hamburgerMenu__ul {
  list-style: square;
}

.hamburgerMenu__ul > * {
  font-size: 36px;
  color: black;
  margin: 55px;
}

.hamburgerMenu__button {
  background-color: #d4a373;
  border: none;
  border-radius: 20px;
  height: 60px;
  width: 200px;
  color: white;
  filter: drop-shadow(0 2px 3px gray);
  cursor: pointer;
}

.hamburgerMenu > p {
  font-size: 20px;
  margin-top: 26px;
  color: #ff9999;
  cursor: pointer;
}

@media only screen and (min-width: 1020px) {
  .hamburgerMenu {
    display: none;
  }
}

@media only screen and (max-width: 1020px) {
  .nav__ul > * {
    margin-right: 10px;
  }
  .nav__button {
    width: 100px;
  }
  .nav__ul {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }
  .nav__right {
    display: none;
  }
  .nav__logo > h1 {
    display: none;
  }
}

@media only screen and (max-width: 510px) {
  .nav__logo > h1 {
    display: none;
  }
}
