.related-container {
  display: flex;
  flex-flow: column nowrap;
  width: 329px;
  height: auto;
}

.related-container__title {
  font-size: 24px;
}

.related-container__related {
  display: flex;
  flex-flow: row nowrap;
  margin: 40px 0px 40px 0px;
  align-items: center;
}

.img {
  height: 117px;
  min-width: 186px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

.related-container__related  {
  text-decoration: none;
  color: black;
  font-size: 24px;
}