.about-container > img,
.about-container__card > img {
  height: 274px;
  width: auto;
  border-radius: 10px;
}

.about-container > p,
.about-container__card > p {
  font-size: 30px;
  margin: -20px auto;
  background-color: #d4a373;
  border: none;
  border-radius: 20px;
  color: white;
  filter: drop-shadow(0 2px 3px gray);
  cursor: pointer;
  padding: 0 10px 0 10px;
}

.about-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 10px 10px 10px 10px;
}

.about-title {
  text-align: center;
  margin: 50px auto;
}

.about-container__card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px 50px;
}

.body {
  background-color: #fefae0;
}

@media screen and (max-width: 900px) {
  .about-container > p,
  .about-container__card > p {
    font-size: 30px;
  }

  .about-container {
    justify-content: center;
  }

  .about-container h1 {
    margin: 10px auto;
  }

  .about-container__card {
    flex-flow: column;
    justify-content: center;
    margin: 20px auto 20px auto;
  }
}
