.screen {
  z-index: 500;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(255,255,255,0.25);
  backdrop-filter: blur(4px);
}

.modal-wrapper {
  z-index: 1000;
  position: fixed;
  width: 90%;
  height: 80%;
  background-color: #FEFAE0;
  top: 10%;
  left: 5%;
  border-radius: 10px;
}

.modal-container {
  z-index: 1000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #FEFAE0;
  border-radius: 10px;
  overflow-y: scroll;
}

.modal-container__info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.modal-container__info > img {
  height: 100%;
  max-height: 500px;
  width: auto;
  border-radius: 10px;
}

.modal-container__info__bio {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  max-width: 500px;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(4px);
  margin-left: -40%;
  border-radius: 10px;
  max-height: 90%;
  overflow-y: scroll;
}

.modal-container__info__bio > h1, .modal-container__info__bio > p {
  padding: 0px 20px 0px 20px;
}

.modal-container__info__bio > p {
  font-size: 18px;
}

.modal-container__info__bio__links {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  padding: 0px 20px 0px 20px;
}

.modal-container__info__bio__links img{
  height: 30px;
  width: auto;
}

@media screen and (max-width: 900px) {
  .screen {
    backdrop-filter: initial;
  }

  .modal-wrapper {
    background-color: initial;
  }
  
  .modal-container {
    background-color: initial;
  }

  .modal-container__info {
    flex-flow: column nowrap;
  }

  .modal-container__info > img {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .modal-container__info__bio {
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
  }
}