.logincontainer{
  padding: 40px 0;
  background-color: white;
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 350px;
}

.text__signin__1 {
  margin: 15px 0 5px 0;
      text-align: left;
      padding: 0 110px;
}

.text__signin__2 {
  margin: 20px 0 5px 0;
      text-align: left;
      padding: 0 110px;
}

.password {
  margin-bottom: -20px;
}

.forgot {
  margin: 0px;
}


.btn__2 {
  margin: 30px 105px 20px 105px;
  background-color: #2d251d;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 140px;
  color: white;
  filter: drop-shadow(0 2px 3px gray);
}

.btn__3 {
  margin: 0 105px 20px 105px;
  background-color: #3db559;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 140px;
  color: white;
  filter: drop-shadow(0 2px 3px gray);
}

.member {
  margin: 15px;
  padding: 0 100px 0 115px;
}

.input__1 {
  margin: 5px 100px;
}

.input__2 {
  margin: 5px 100px;
  padding: 0 0 0 0; 
}

.login__header {
  margin: 0px;
}